body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #434455; 
}

header {
    background-color: white;
    
}



header p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 15px;

}

.blue {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
}

header .blue{
    padding-left: 5%;
    position: relative;
    top: -5px;
    
}
header .studio{
    margin-right: 10px;
}

header .studio {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;                    
    font-weight: bold;                  
    line-height: 21px;                  
    letter-spacing: 0.03em;             
    text-align: left;                   
    color: #2E2F42; 
    position: relative;
    top: -5px;                   
}

header nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 15px;
    color: #2E2F42;
    
}
header nav{
    margin-top: 5px;
   
}

header .kontakt {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}



.hero {
    background-color: #2E2F42;
    padding: 120px 50px;
    margin-bottom: 80px;
}

.hero h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 600px;
}

.hero button {
    background-color: #4D5AE5;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
}

.custom-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}

.services {
    padding: 50px 20px;
    gap: 1vw;
}

.service-item {
    max-width: 264px;
    border-radius: 15px;         
    text-align: center;         
    padding: 20px;              
    margin: 15px;               
    color: #FFFFFF; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);       
}

.service-item h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;

}

.service-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;

}

.what-we-do {
    padding: 50px 20px;
}

.what-we-do h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 70px;

}

.work-samples {
    gap: 3vw;
}

.work-samples img {
    width: 100%;
    max-width: 360px; 
    max-height: 300px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover; 
}

.team {
    padding: 70px 20px;
    background-color: #F4F4FD;
}

.team h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 70px;
    color:#2E2F42

}

.team-members {
    gap: 32px;
}

.team-member {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.team-member img {
    width: 100%;
    max-width: 264px; 
    max-height: 260px; 
    height: auto;
    object-fit: cover; 
}

.team-member h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 20px;
    text-align: center;
    color: #2E2F42;

}

.team-member p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 20px;
    color: #434455;

}

footer {
    background-color: #2E2F42; 
    padding-top: 90px;
    padding-left: 5%;
    height: 307px;
    margin-top: 70px;
}

footer p {
    
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-align: left;
    max-width: 264px;
}

/* Nizsie je uz len dark mode na tlacidko pokial som dobre pochopil*/
body.dark-mode {
    background-color: #121212;
}

header.dark-mode {
    background-color: #1e1e1e;
}

.service-item.dark-mode {
    background-color: #1e1e1e;    
    border-radius: 15px;         
    text-align: center;         
    padding: 20px;              
    margin: 15px;               
    color: #FFFFFF;             
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.service-item.dark-mode h3 {
    color: #4D5AE5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-item.dark-mode p {
    color: #CCCCCC;
    line-height: 1.6;
}
footer.dark-mode {
    color: white;
    background-color: #1e1e1e;
}

header.dark-mode a {
    color: #ffffff;
}

.what-we-do.dark-mode {
    color: white;
    background-color: #121212;
}

.work-samples.dark-mode img {
    filter: brightness(0.8);
}

.team.dark-mode {
    color: white;
    background-color: #121212;
}

.team-member.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

p {
    color: inherit;
}

.dark-mode p {
    color: white;
}

.dark-mode h2 {
    color: white;
}

.dark-mode h3 {
    color: white;
}

header.dark-mode .studio {
    color: white;
}


footer .studio {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;                    
    font-weight: bold;                   
    line-height: 21px;                  
    letter-spacing: 0.03em;             
    text-align: left;                   
    color: #F4F4FD;                     
}

/*fade in*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .mob-menu {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
    padding-right: 35px;
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
  }
  
  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 200px;
  }
  
  .mob-menu-list-item {
    list-style: none;
  }
  .menu-btn {
    display: none;
}
  
  .mob-link-item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
  }
  
  .mob-adress-list {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
  }
  
  .mob-list-email,
  .mob-list-phone {
    color: #4D5AE5;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .close-text-con {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
  }
  
  /* Стиль для кнопки закрытия меню */
  .button-3 {
    appearance: none;
    background-color: #b83149;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #a42b5f;
  }

/* ----------MODAL-------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.modal-wd {
    width: 408px !important;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.modal-close-btn {
    border: none;
    background: none;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.close-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-header {
    color:  #2E2F42;
    font-family: Roboto;
    text-align: center;
    width: 360px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    padding-left: 38px; 
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.input-label-text {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16; 
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    line-height: 1.17;
}
.modal-field {
    margin-bottom: 8px;
}
.input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40); 
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-textarea::placeholder {
    color: #2E2F42;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
}
.modal-button {
    color:  #FFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 24px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    display: block;
    align-items: center;
}
.privacy {
    color: #4D5AE5;
    text-decoration: underline;
}
.modal-field-check {
    margin-bottom: 24px;
}

.checkbox-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-mark:checked + .checkbox-text span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-input:focus {
    border-color: #4D5AE5;
}
.subscribe-input::placeholder {
    /* padding: 8px 16px; */
    color: #ffffff;
}
.subscribe-container {
    /* margin-left: 80px; */
}
.subscribe-logo {
    display: flex;
    fill: #fff;
    margin-left: 16px;
}
.subscribe-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-left: 24px; */
    min-width: 165px;
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}
.modal-button:hover,
.modal-button:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color:  #404BBF;
    cursor: pointer;
}
.modal-textarea-con {
    margin-bottom: 16px;
}


/*animation for text*/
#animatedText span {
    display: inline-block;
    
    transform: translateY(20px);
    animation-fill-mode: forwards;
}


@keyframes wave {
    0%, 100% {
       
        transform: translateY(20px);
    }
    50% {
       
        transform: translateY(0);
    }
}