body {
  font-family: "Roboto", sans-serif;
}

.logo{
  margin-top: 3px;
}

.header a {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  

}

.nav-links a {
  color: #2E2F42;
}

.header a:hover {
  text-decoration: underline;
}

.btn-outline-primary {
  background-color: #f3f3fe;
  color: #4D5AE5;
  border-color: #f3f3fe;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
  background-color: #404BBF;
  color: #fff;
  border-color: #404BBF;
}

.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: #4a1dbf;
  color: #fff;
  border-color: #4a1dbf;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-text {
  color: #434455;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  max-height: 300px;
  object-fit: cover;
}

.content-section {
  padding-top: 65px;
  margin-bottom: 112px;
}

.footer {
  background-color: #2E2F42;
  color: #ffffff;
  padding-top: 100px;
  height: 307px;
}

.footer .container {
  max-width: 274px;
  margin-left: 10%;
}

.footer p {
  max-width: 600px;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}
.custom-margin-top {
  margin-top: 90px !important;
}
.nav-links {
  margin-top: 5px;
}

.first-span{
  color: #4D5AE5;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  
}
.second-span{
  font-weight: bold;
  font-size: 18px;
}
