* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.header-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404BBF;
  margin-right: 20px;
}

.logo span:last-child {
  color: #5e2ced;
}

nav a {
  margin: 0 15px;
  color: #2E2F42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.header-right {
  color: #2E2F42;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  gap: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 3%;
}

.filter-btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3f3fe;
  color: #4D5AE5;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: #404BBF;
  color: #fff;
}

.filter-btn:active {
  background-color: #4a1dbf;
  color: #fff;
}


footer {
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-container p {
  color: #ffffff;
  font-size: 14px;
}
/*asdsa*/
.image-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.link {
    text-decoration: none;
}
.photo-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;;
}
.photo-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container { 
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 156px;
    margin-right: 156px;
    margin: 0 auto;
    margin-bottom: 112px;
}
