/* Responsive Design */

/* For screens up to 550px */
@media (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 28px;
    }

    .services, .what-we-do, .team {
        padding: 20px 10px;
    }

    footer {
        padding: 20px;
        text-align: center;
    }
}

/* For screens between 550px and 850px */
@media (min-width: 551px) and (max-width: 850px) {
    .hero h1 {
        font-size: 32px;
    }

    .service-item, .team-member {
        width: 520px;
        margin: 10px;
    }
}

/* For screens between 850px and 1250px */
@media (min-width: 851px) and (max-width: 1250px) {
    header {
        padding: 20px 10px;
    }

    .hero {
        padding: 100px 30px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .services, .team {
        padding: 40px 20px;
        gap: 2vw;
    }

    .service-item, .team-member {
        max-width: 30%;
    }
}

/* For screens between 1250px and 1400px */
@media (min-width: 1251px) and (max-width: 1400px) {
    .hero h1 {
        font-size: 48px;
    }

    header{
        max-width: 1210px;
        padding: 25px;
    }

    .service-item, .team-member {
        max-width: 22%;
    }

    footer {
        padding: 40px;
    }
}

/* For screens larger than 1400px */
@media (min-width: 1401px) {
    header {
        padding: 25px;
        max-width: 1360px;
    }

    .hero {
        padding: 120px 50px;
    }

    .hero h1 {
        font-size: 56px;
    }

    .services, .team {
        padding: 50px 20px;
    }
}
