header {
    align-items: center;
    padding-right: 5%;
}

.hero h1 {
    font-size: 28px;
}

.services, .what-we-do, .team {
    padding: 20px 10px;
}

header div nav a {
    display: none;
}

header div .kontakt {
    display: none;
}

footer {
    padding: 20px;
    text-align: center;
}
